.Grid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(3, 25%);
    justify-content: space-around;
    align-content: space-around;
}

.square {
    background-color: white;
    color: black;
    padding: 20px;
    cursor: pointer;
    font-size: 90px;
    line-height: 100%;
    text-align: center;
}

.winnerAnnouncement {
    color: white;
    grid-area: 2 / 1 / 3 / 4;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    border: dashed;
    padding: 9% 0;
    animation: blink 0.2s;
    animation-iteration-count: 10;
}

@keyframes blink { 
    50% { 
        color: red;
        border-color:red ; 
    }  
}