.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  height: 500px;
  width: 100%;
  min-width: 390px;
  max-width: 500px;
  background-color: black;
}

.newGameBtn {
  margin-top: 30px;
  padding: 10px 20px;
  border: 1px solid black;
  cursor: pointer;
}